* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #e5e5fd;
  min-height: 100vh;
  border: 10px solid #c4b721;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

.top_section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #f2f2f2; /* Set your desired background color */
  padding: 20px; /* Adjust padding as needed */
}

.top_section h1 {
  font-size: 70px;
  font-weight: bold;
  color: #1d1e4c;
  text-align: center;
  margin-bottom: 10px; /* Adjust spacing between h1 and h4 */
}

.top_section h4 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px; /* Adjust spacing between h4 and the box */
}

.image_container {
  border-radius: 50%;
  overflow: hidden; /* Ensure rounded corners are applied */
}

.image_container img {
  width: 100%;
  height: auto;
  display: block;
}

.about_section {
  margin-top: 50px;
}

.about_section h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.about_section p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
}

.subimage {
  background-color: #f2f2f2; /* Set your desired background color */
  padding: 20px; /* Adjust padding as needed */
}

.subimage .row {
  display: flex;
}

.subimage .column {
  flex: 1;
  margin: 10px;
}

.image-container {
  border-radius: 8px;
  overflow: hidden;
  background: rgb(160, 169, 169);
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.famous_constructions,
.books_by_visvesvaraya {
  margin-top: 50px;
}

.famous_constructions h2,
.books_by_visvesvaraya h2 {
  font-size: 20px; /* Adjusted font size to match the paragraphs in the about section */
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.famous_constructions ul,
.books_by_visvesvaraya ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.famous_constructions li,
.books_by_visvesvaraya li {
  font-size: 18px; /* Adjusted font size to match the paragraphs in the about section */
  line-height: 25px; /* Match the line height of paragraphs */
  letter-spacing: 1.2px; /* Match the letter-spacing of paragraphs */
  margin-bottom: 8px;
}

footer {
  margin: 50px 0;
}

footer p {
  text-align: end;
}
